# Ignore virtual environment
.venv/
env/
venv/

# Ignore PyCharm-specific files
.idea/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore dependencies (if using virtualenv)
bin/
.venv/Lib/
include/

# Ignore Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints/

# Ignore VSCode settings (if applicable)
.vscode/

tictactoe.spec
